<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
</head>
<body>
    <header>
        <h1>Cadastrar</h1>
    </header>
    <main>        
        <a href="lista.html" class="volta">
            <button>Voltar</button>
        </a>
        <div>
            <h2>Formulário</h2>
            <span>Preencha o formulario com o seus dados.</span>
        </div>
        <div class="card">
            <div class="lineInput">
                <label> Nome</label>
                <input type="text" id="idNome">
            </div>
            <div class="lineInput">
                <label> CPF</label>
                <input type="text" id="idCPF">
            </div>
            <div class="lineInput">
                <label> Telefone</label>
                <input type="text" id="idTelefone">
            </div>
            <div class="lineInput">
                <label> E-mail</label>
                <input type="text" id="idEmail">
            </div>
            <div class="lineInput">
                <label> CEP</label>
                <input type="text" id="idCEP">
            </div>
            <div class="lineInput">
                <label> Endereço</label>
                <input type="text" id="idEndereco">
            </div>
            <div class="lineInput">
                <label> Numero</label>
                <input type="text" id="idNumero">
            </div>
            <div class="lineInput">
                <label> Bairro</label>
                <input type="text" id="idBairro">
            </div>
            <div class="lineInput">
                <label> Cidade</label>
                <input type="text" id="idCidade">
            </div>
            <div class="lineInput">
                <label> Estado</label>
                <input type="text" id="idEstado">
            </div>
            <button class="buttonEnvia">Enviar</button>
            <button class="buttonLimpa">limpa</button>
        </div>

    </main>

</body>
</html>