<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/scriptListar.js"></script>
</head>
<body>
    <header>
        <h1>Pessoas cadastradas</h1>
    </header>
    <main>
        <a href="cadastrar.html" class="add">
            <button>Adicionar</button>
        </a>
        <div class="content">
            <table border="1">
                <thead>
                    <th class="center">Identificação</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>CEP</th>
                    <th>Endereço</th>
                    <th>Numero</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ação</th>
                </thead>
                <tbody id="tbody">
                    
                </tbody>
            </table>
        </div>
        <a class="add">
            <button onclick="lista.dados()">Atualizar</button>
        </a>
    </main>
</body>
</html>